{% extends "pxs/base.html" %}

{% load static %}

{% block content %}
    <div id="scale-chooser">
        <div class="placeholder"></div>
        <div class="buttons">
            <a href="#canton" class="option" data-state="canton">
                Canton
            </a>
            <a href="#city" class="option selected" data-state="city">
                City
            </a>
            <a href="#area" class="option" data-state="area">
                Area
            </a>
        </div>
        <div class="switcher" data-state="map">
            <a href="#">Statistics <i class="fas fa-toggle-on"></i> Map</a>
        </div>
    </div>
    <div id="stat-compare-wrapper">
        <div class="stat-compare-names">
            <div class="name left"><span>-</span></div>
            <div class="name middle"><span><i class="fas fa-arrows-alt-h"></i></span></div>
            <div class="name right"><span>-</span></div>
        </div>
        <div class="stat-compare-scores">
            <div class="score left"><span>0</span></div>
            <div class="score middle"></div>
            <div class="score right"><span>0</span></div>
        </div>
        <div class="stat-compare">
            <div class="stat-wrapper density">
                <div class="stat-inner-wrapper">
                    <div class="stat-last-wrapper">
                        <div class="stat-number left">-</div>
                        <div class="stat first left"></div>
                    </div>
                    <div class="stat-last-wrapper">
                        <div class="stat-number right">-</div>
                        <div class="stat first right"></div>
                    </div>
                </div>
                <div class="stat-name"><span>Tree density</span></div>
            </div>
            <div class="stat-wrapper sparsity">
                <div class="stat-inner-wrapper">
                    <div class="stat-last-wrapper">
                        <div class="stat-number left">-</div>
                        <div class="stat first left"></div>
                    </div>
                    <div class="stat-last-wrapper">
                        <div class="stat-number right">-</div>
                        <div class="stat first right"></div>
                    </div>
                </div>
                <div class="stat-name"><span>Tree sparsity</span></div>
            </div>
            <div class="stat-wrapper cars">
                <div class="stat-inner-wrapper">
                    <div class="stat-last-wrapper">
                        <div class="stat-number left">-</div>
                        <div class="stat first left"></div>
                    </div>
                    <div class="stat-last-wrapper">
                        <div class="stat-number right">-</div>
                        <div class="stat first right"></div>
                    </div>
                </div>
                <div class="stat-name"><span>Cars per inhabitant</span></div>
            </div>
            <div class="stat-wrapper area">
                <div class="stat-inner-wrapper">
                    <div class="stat-last-wrapper">
                        <div class="stat-number left">-</div>
                        <div class="stat first left"></div>
                    </div>
                    <div class="stat-last-wrapper">
                        <div class="stat-number right">-</div>
                        <div class="stat first right"></div>
                    </div>
                </div>
                <div class="stat-name"><span>Relative area</span></div>
            </div>
            <div class="stat-wrapper population">
                <div class="stat-inner-wrapper">
                    <div class="stat-last-wrapper">
                        <div class="stat-number left">-</div>
                        <div class="stat first left"></div>
                    </div>
                    <div class="stat-last-wrapper">
                        <div class="stat-number right">-</div>
                        <div class="stat first right"></div>
                    </div>
                </div>
                <div class="stat-name"><span>Relative population</span></div>
            </div>
        </div>
    </div>
    <div id="splitscreen">
        <div class="field">
            <div class="map">
                <div class="map-image-wrapper" data-side="left">
                    <div class="desc">
                        <i class="fas fa-plus"></i><br />Choose an area
                    </div>
                </div>
            </div>
            <div class="stats-container">
                <div class="name" data-side="left">
                    <span>Choose an area</span>
                </div>
                <div class="stats" data-side="left">
                    <div class="stat" data-type="rank">
                        <div class="number">
                            -
                        </div>
                        <div class="description">
                            place in city ranking
                        </div>
                    </div>
                    <div class="stat" data-type="tree-coverage">
                        <div class="number">
                            -
                        </div>
                        <div class="description">
                            percentage tree coverage
                        </div>
                    </div>
                    <div class="stat" data-type="score">
                        <div class="number">
                            -
                        </div>
                        <div class="description">
                            overall city score
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="map">
                <div class="map-image-wrapper" data-side="right">
                    <div class="desc">
                        <i class="fas fa-plus"></i><br />Choose an area
                    </div>
                </div>
            </div>
            <div class="stats-container">
                <div class="name" data-side="right">
                    <span>Choose an area</span>
                </div>
                <div class="stats" data-side="right">
                    <div class="stat" data-type="rank">
                        <div class="number">
                            -
                        </div>
                        <div class="description">
                            place in city ranking
                        </div>  
                    </div>
                    <div class="stat" data-type="tree-coverage">
                        <div class="number">
                            -
                        </div>
                        <div class="description">
                            percentage tree coverage
                        </div>
                    </div>
                    <div class="stat" data-type="score">
                        <div class="number">
                            -
                        </div>
                        <div class="description">
                            overall city score
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}