* {
  color: #47525E;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  vertical-align: baseline; }

html {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  height: 100%; }

#header {
  background: #E5E9F2;
  border-bottom: 1px solid #d8dbe2;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 0 2em; }
  #header > .title {
    margin: 1em; }
    #header > .title h1 {
      align-self: flex-start;
      font-size: 2em; }
    #header > .title h2 {
      font-size: 1em;
      font-weight: normal; }
  #header > nav {
    display: flex;
    align-items: center; }
    #header > nav > a {
      display: block;
      padding: 1.5em;
      text-align: center;
      color: #47525E;
      text-decoration: none; }
      #header > nav > a:visited, #header > nav > a:active, #header > nav > a:focus {
        text-decoration: none;
        color: #47525E; }
      #header > nav > a:hover:not(.selected) {
        text-decoration: none;
        color: #19a301; }
      #header > nav > a.selected {
        color: #19a301; }

#content {
  flex-grow: 1;
  padding: 0 1em;
  display: flex;
  flex-direction: column; }
  #content #scale-chooser {
    display: flex;
    justify-content: center;
    margin: 1em 0; }
    #content #scale-chooser > .option {
      display: block;
      text-align: center;
      padding: 1em 3em;
      color: #47525E;
      border: 2px solid #47525E;
      border-right: none;
      text-decoration: none; }
      #content #scale-chooser > .option:visited, #content #scale-chooser > .option:active, #content #scale-chooser > .option:focus {
        text-decoration: none;
        color: #47525E; }
      #content #scale-chooser > .option:hover:not(.selected) {
        text-decoration: none;
        background: #E5E9F2; }
      #content #scale-chooser > .option.selected {
        color: #19a301; }
      #content #scale-chooser > .option:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px; }
      #content #scale-chooser > .option:last-child {
        border-right: 2px solid #47525E;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px; }
  #content #splitscreen {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    margin: 1em 0; }
    #content #splitscreen > .field {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 2em; }
      #content #splitscreen > .field:first-child {
        border-right: 1px solid #47525E; }
      #content #splitscreen > .field .map {
        flex-grow: 1; }
      #content #splitscreen > .field .stats-container {
        padding: 2em 2em 0 2em; }
      #content #splitscreen > .field .stats {
        display: flex;
        justify-content: center;
        align-items: stretch;
        background: #47525E;
        padding: 0 2em;
        border-radius: 5px;
        width: 100%; }
        #content #splitscreen > .field .stats .stat {
          width: calc(100% / 3);
          text-align: center;
          padding: 1em; }
          #content #splitscreen > .field .stats .stat .number {
            font-size: 2em;
            color: #fff;
            font-weight: bold;
            margin-bottom: 0.25em; }
          #content #splitscreen > .field .stats .stat .description {
            color: #fff; }

/*# sourceMappingURL=../../../static/COMPILED/pxs/main.css.map */