$accent: #19a301;
$primary-color: #47525E;
$bg-color: #E5E9F2;

* {
    color: $primary-color;
    margin: 0;
	padding: 0;
	border: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    vertical-align: baseline;
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#header {
    background: $bg-color;
    border-bottom: 1px solid #d8dbe2;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 0 2em;
    > .title {
        margin: 1em;
        h1 {
            align-self: flex-start;
            font-size: 2em;
        }
        h2 {
            font-size: 1em;
            font-weight: normal;
        }
    }
    > nav {
        display: flex;
        align-items: center;
        > a  {
            display: block;
            padding: 1.5em;
            text-align: center;
            color: $primary-color;
            text-decoration: none;
            &:visited, &:active, &:focus {
                text-decoration: none;
                color: $primary-color;
            }
            &:hover:not(.selected) {
                text-decoration: none;
                color: $accent;
            }
            &.selected {
                color: $accent;
            }
        }
    }
}
#content {
    flex-grow: 1;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    #scale-chooser {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em 0;
        .placeholder {
            flex-grow: 1;
        }
        .switcher {
            flex-grow: 1;
            flex-basis: 0;
            text-align: right;
            font-size: 1.25em;
            a {
                text-decoration: none;
            }
        }
        .buttons {
            display: flex;
            justify-content: center;
            > .option {
                display: block;
                text-align: center;
                padding: 1em 3em;
                color: $primary-color;
                border: 2px solid #47525E;
                border-right: none;
                text-decoration: none;
                width: 10em;
                &:visited, &:active, &:focus {
                    text-decoration: none;
                    color: $primary-color;
                }
                &:hover:not(.selected) {
                    text-decoration: none;
                    background: #E5E9F2;
                }
                &.selected {
                    color: $accent;
                }
                &:first-child {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
                &:last-child {
                    border-right: 2px solid $primary-color;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }
        }
    }
    #stat-compare-wrapper {
        display: none;
        flex-grow: 1;
        flex-direction: column;
        .stat-compare-names {
            display: flex;
            justify-content: center;
            .left, .right {
                width: 46%;
            }
            .left {
                text-align: right;
            }
            .right {
                text-align: left;
            }
            .middle {
                text-align: center;
                width: 8%;
            }
            .name {
                margin: 0 1em;
                span {
                    font-size: 1.5em;
                    font-weight: bold;
                }
            }
        }
        .stat-compare-scores {
            display: flex;
            justify-content: center;
            .left, .right {
                width: 46%;
            }
            .left {
                text-align: right;
            }
            .right {
                text-align: left;
            }
            .middle {
                text-align: center;
                width: 8%;
            }
            .score {
                margin: 0 1em;
                span {
                    font-size: 3em;
                    font-weight: bold;
                    color: $accent;
                }
            }
        }
        .stat-compare {
            flex-grow: 1;
            display: flex;
            justify-content: space-evenly;
            margin-top: 1em;
            .stat-wrapper {
                width: 10%;
                display: flex;
                flex-direction: column;
                .stat-inner-wrapper {
                    flex-grow: 1;
                    display: flex;
                    align-items: flex-end;
                    height: 100%;
                    .stat-last-wrapper {
                        height: 100%;
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        .stat-number {
                            text-align: center;
                            margin-bottom: 0.5em;
                        }
                        .stat {
                            transition: height 1s ease-out;
                            height: 0;
                            box-shadow: 0 0 5px $primary-color;
                            &.first {
                                background-color: #00441b;
                            }
                            &.second {
                                background-color: #006d2c;
                            }
                        }
                    }
                }
                .stat-name {
                    text-align: center;
                    margin: 1em;
                    font-size: 1.25em;
                    height: 3.75em;
                }
            }
        }
    }
    #splitscreen {
        display: flex;
        align-items: stretch;
        flex-grow: 1;
        margin: 1em 0;
        > .field {
            display: flex;
            flex-direction: column;
            width: 50%;
            padding: 0 2em 0 2em;
            &:first-child {
                border-right: 1px solid $primary-color;
            }
            .name {
                text-align: center;
                > span {
                    background: $primary-color;
                    padding: 0.5em;
                    border-radius: 5px 5px 0 0;
                    color: white;
                }
            }
            .map {
                flex-grow: 1;
                text-align: center;
                position: relative;
                .map-image-wrapper {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    background: url('/static/pxs/empty-city.png') center/contain no-repeat;
                    width: 100%;
                    height: 100%;
                    &:hover {
                        background-image: url('/static/pxs/empty-city-hover.png');
                    }

                    .desc {
                        text-align: center;
                        color: $accent;
                        font-weight: 800;
                        i {
                            color: $accent;
                        }
                    }
                }
            }
            .stats-container {
                padding: 2em 2em 0 2em;
            }
            .stats {
                display: flex;
                justify-content: center;
                align-items: stretch;
                background: $primary-color;
                padding: 0 2em;
                border-radius: 5px;
                width: 100%;
                .stat {
                    width: calc(100% / 3);
                    text-align: center;
                    padding: 1em;
                    .number {
                        font-size: 2em;
                        color: #fff;
                        font-weight: bold;
                        margin-bottom: 0.25em;
                    }
                    .description {
                        color: #fff;
                    }
                }
            }
        }
    }
}

#map-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(100, 100, 100, 0.5);

    #map-inner-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 2em;

        #map-close {
            text-align: right;
            margin: -1em -1em 2em 0;
            i {
                color: white;
                font-size: 2em;
                text-shadow: 0 0 5px $primary-color;
            }
        }

        #map {
            flex-grow: 1;
            box-shadow: 0 0 5px 5px #98a0a9;

            .info {
                background: rgba(255, 255, 255, 0.7);
                box-shadow: 0 0 5px #98a0a9;
                border-radius: 5px;
                padding: 0.5em;
            }
        }
    }
}
#alert-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    #alert {
        display: none;
        background: white;
        box-shadow: 0 0 5px 5px #98a0a9;
        border-radius: 0 0 5px 5px;
        padding: 1em 0.5em 0.5em 0.5em;
    }
}
.marker-icon {
    border: 1px solid #00441b;
}